[user]
    email = max@personal.max
    name = Max L

[diff]
    tool = nvim_difftool

[difftool "nvim_difftool"]
    cmd = nvim -c \"packadd nvim.difftool\" -c \"DiffTool $LOCAL $REMOTE\"`

[merge]
    conflictstyle = zdiff3
