/* Catppuccin Mocha Palette */
@define-color base     #1e1e2e;
@define-color mantle   #181825;
@define-color crust    #11111b;
@define-color text     #cdd6f4;
@define-color subtext0 #a6adc8;
@define-color surface0 #313244;
@define-color surface1 #45475a;
@define-color surface2 #585b70;
@define-color blue     #89b4fa;
@define-color lavender #b4befe;

window {
    margin: 0px;
    border: 2px solid @lavender;
    border-radius: 12px;
    background-color: @base;
    font-family: "JetBrainsMono Nerd Font", "sans-serif";
    font-size: 14px;
}

#outer-box {
    margin: 10px;
    background-color: @base;
}

#input {
    margin: 5px;
    border: none;
    border-radius: 8px;
    color: @text;
    background-color: @surface0;
}

#inner-box {
    margin: 5px;
    background-color: @base;
}

#entry:selected {
    background-color: @surface1;
    border-radius: 8px;
}

#text {
    margin: 5px;
    color: @text;
}

#text:selected {
    color: @lavender;
}
