@import "mocha.css";

* {
  font-family: "CaskaydiaCove Nerd Font";
  font-weight: bold;
  font-size: 14px;
  color: @text;
}

#waybar {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  box-shadow: none;
  opacity: 0.8;
}

#workspaces,
#window,
#language{
  background-color: rgba(15,27,53,0.9);
  padding: 4px 6px;
  margin-top: 6px;
  margin-left: 6px;
  margin-right: 6px;
  border-radius: 10px;
  border-width: 0px;
}

#clock,
#custom-power{
  background-color: rgba(15,27,53,0.9);
  margin-top: 6px; 
  margin-right: 6px;
  /*margin-bottom: 4px;*/
  padding: 4px 2px;
  border-radius: 0 10px 10px 0;
  border-width: 0px;
}

#network,
#custom-hibernate{
  background-color: rgba(15,27,53,0.9);
  margin-top: 6px;
  margin-left: 6px;
  /*margin-bottom: 4px;*/
  padding: 4px 2px;
  border-radius: 10px 0 0 10px;
  border-width: 0px;
}

#custom-reboot,
#battery,
#pulseaudio,
#backlight,
#custom-temperature,
#memory,
#cpu{
  background-color: rgba(15,27,53,0.9);
  margin-top: 6px;
  /*margin-bottom: 4px;*/
  padding: 4px 2px;
  border-width: 0px;
}

#custpm-temperature.critical,
#pulseaudio.muted {
  color: #FF0000;
  padding-top: 0;
}

#network:hover,
#backlight:hover,
#battery:hover,
#pulseaudio:hover,
#custom-temperature:hover,
#memory:hover,
#cpu:hover,
#clock:hover,
#custom-hibernate:hover,
#custom-reboot:hover,
#custom-power:hover,
#window:hover {
  background-color: rgba(70, 75, 90, 0.9);
}

#workspaces button:hover{
  background-color: rgba(97, 175, 239, 0.2);
  padding: 2px 8px;
  margin: 0 2px;
  border-radius: 10px;
}

#workspaces button.active {
  background-color: #61afef;
  color: #ffffff;
  padding: 2px 8px;
  margin: 0 2px;
  border-radius: 10px;
}

#workspaces button {
  background: transparent;
  border: none;
  color: #888888;
  padding: 2px 8px;
  margin: 0 2px;
  font-weight: bold;
}

#window {
  font-weight: 500;
}

